



.card-center{
    margin-left: 7.5rem !important;
}

.top-title{
    font-size: 2em;
    font-family: 'Finger Paint', cursive;
}

@media only screen and (max-width:991px) {

    .pop-card{
        width: 57vw;
    }

    .popular-products {
        margin-top: 70vw;
    }

    .react-stars {

        margin-left: 14vw;
    }


}

@media only screen and (max-width:768px) {

    .pop-card{
        width: 57vw;
    }


    .card-col{
        margin: 8vw;
    }
    .popular-products {
        margin-top: 70vw;
    }

    .react-stars {

        margin-left: 13vw;
    }


}