$text: center;
$line: 1.2;
$bg-primary: #59bdee;

/* centered columns styles */
.row-centered {
  text-align: center;
}
.col-centered {
  display: inline-block;
  float: none;
  /* reset the text-align */
  text-align: left;
  /* inline-block space fix */
  margin-right: -4px;
}

.btn-primary {
  color: $bg-primary;
  background-color: white;
  border-color: $bg-primary;
}

@media only screen and (max-width: 768px) {
  .contact-header-one {
    font-size: 8.5vw;
    line-height: $line;
    text-align: $text;
    font-family: "Roboto Condensed";
  }

  .contact-header-two {
    font-size: 3.5vw;
    line-height: $line;
    text-align: $text;
    font-family: "Roboto";
  }

  .contact-info {
    font-size: 3.3vw;
    font-family: "Roboto";
  }

  .contact-card {
    background-color: $bg-primary;
    left: 50%;
    border-radius: 0.5rem;
    width: 48vw;
    transform: translate(-50%);
    text-align: center;
    white-space: pre-wrap;
    border: none;
    color: white;
  }

  .contact-form {
    width: 65vw;
    margin: 0 auto;
  }

  .btn-primary {
    color: $bg-primary;
    background-color: white;
    border-color: $bg-primary;
  }

  .g-recaptcha {
    transform: scale(0.78);
    transform-origin: 1 0;
  }
}
