#footer{
    margin-top: 110px;
    //background-color: white !important;
}
.copyright{
    font-size: 10px;
}

.my-credit {
    color: grey !important; 
    text-decoration: none;
    background-color: transparent;
}
