.about-description {
    background-color: white;
}

.flourlogo {
    width: 36vw;
}

.about-text {
    color: black;

}

.about-title {
    font-size: 4vw;
}

.about-btn {
    font-weight: bold;
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    font-size: 26px;
    width: 242px;
    border-radius: 8px;
    background-color: #000021;
}